<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "general_style" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <title>Food on Rails</title>
  </head>
  <body>
    <div class="welcome"> <a href="/restaurants" class="partial_link">Food on Rails - a Rails application for Food</a> </div>
