<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Food on Rails </title>
    <%= stylesheet_link_tag "general_style" %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="welcome"> Food on Rails - a Rails application for Food </div>
    <div class="restaurants">
      <% for restaurant in @restaurants do %>
      <div class="single_restaurant">
        <div class="restaurant_name"> <h2><%= link_to restaurant.name, restaurant_path(restaurant)  %></h2> </div>
        <div class="restaurant_description"> <p> <%= restaurant.description %> </p> </div>
      </div>
      <% end %>
    </div>
  </body>
</html>
