/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .welcome {
   text-align: center;
   padding-top: 1em;
   padding-bottom: 1em;
   background-color: #e25c5c;
   font-size: 1.5em;
   color: white;
   font-family: Roboto;
 }

 .restaurants {
   margin-top: 5em;
   display: grid;
   width: 80%;
   margin-left: 10%;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap: 1em;
   grid-row-gap: 1em;
 }

 .single_restaurant {
   background-color: #fffcfc;
   border-radius: 0.4em;
   border-style: solid;
   border-color: #968484;
   border-width: 0.05em;
 }

 .restaurant_name {
   text-align: center;
   font-family: Roboto;
 }

 .restaurant_description {
   padding: 5%;
   font-family: Roboto;
 }

 .single_restaurant:hover {
   background-color: #e25c5c;
   color: white;
 }
