html {
  position: relative;
  min-height: 100%;
  text-align: center;
  font-family: Roboto;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Carrot_%28PSF%29.jpg/462px-Carrot_%28PSF%29.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.partial_link {
  text-decoration: none
}

.partial_link:visited {
  color: white;
}

.partial_link:hover {
  color: pink;
}

.everything {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome {
  margin-bottom: 2em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #e25c5c;
  font-size: 1.5em;
  color: white;
  font-family: Roboto;
}

.new_res {
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  height: 2em;
  border-radius: 0.4em;
}

.restaurants {
  margin-top: 2em;
  display: grid;
  width: 80%;
  margin-left: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.single_restaurant {
  background-color: #fffcfc;
  border-radius: 0.4em;
  border-style: solid;
  border-color: #968484;
  border-width: 0.05em;
}

.restaurant_name {
  text-align: center;
  font-family: Roboto;
}

.restaurant_name_link {
  color: black;
  text-decoration: none;
  padding: 1em 2em 4em 2em;
}

.restaurant_description {
  padding: 5%;
  font-family: Roboto;
}

.single_restaurant:hover {
  background-color: #e25c5c;
  color: white;
}

.restaurant_data {
  margin-left: 6em;
  text-align: left;
}

.reviews {
  margin-right: 6em;
  text-align: right;
}

.footer {
  background-color: #e25c5c;
  padding: 0.2em;
  color: white;
  text-align: center;
  font-family: Roboto;
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-bottom: 0.2em;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow:hidden;
  text-decoration: none;
}
